node-red flow dragino LHT65 + RAK 7204 to influxDB cloud.txt
[{"id":"337d18c.94ad4e8","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/nevera/up","qos":"2","datatype":"auto","broker":"35e106b8.ebea2a","nl":false,"rap":true,"rh":0,"x":240,"y":80,"wires":[["508c988f.d5cd38","199ac2e6.73801d"]]},{"id":"508c988f.d5cd38","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"199ac2e6.73801d","type":"function","z":"c49b24ae.666138","name":"","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":140,"wires":[["d41fe762.6f5dc8"]]},{"id":"d41fe762.6f5dc8","type":"function","z":"c49b24ae.666138","name":"Temperatura nevera i ambient","func":"var a = msg.payload;\nmsg.payload=a.TempC_DS*1.00;\nmsg.topic=a.TempC_SHT*1.00;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["45c30c79.6950a4","4466c20f.43017c","25f6589a.2531a8"]]},{"id":"45c30c79.6950a4","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"25f6589a.2531a8","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_nevera =msg.payload;\nvar temperatura_ambient=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_nevera:temperatura_nevera,\ntemperatura_ambient:temperatura_ambient\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":260,"wires":[["505f4f7a.181da","312e8d42.4eb8d2"]]},{"id":"505f4f7a.181da","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":770,"y":260,"wires":[]},{"id":"312e8d42.4eb8d2","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"4428e356.931a1c","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.32","payloadType":"num","x":110,"y":260,"wires":[["25f6589a.2531a8"]]},{"id":"4466c20f.43017c","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_nevera","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"temperatura_ambient","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[[]]},{"id":"bb188a06.7410f8","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1340,"wires":[["b850d214.41878","d296ecc5.2ccad","89317181.31df4","7d41f1e3.f185a","bc01a3b1.cedc","2685b6e8.d3a6ea","7b92af62.9ebcf","6e56c7ef.3f7d88","cc81e80.fe39018","de50269d.450a78"]]},{"id":"b850d214.41878","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_nevera')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1340,"wires":[["21969131.40d72e","c9243fa9.c18aa","47882e3c.4ec4d"]]},{"id":"21969131.40d72e","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_nevera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":630,"y":1340,"wires":[]},{"id":"95c72d45.4ded","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.93","payloadType":"num","x":350,"y":200,"wires":[["4466c20f.43017c"]]},{"id":"c9243fa9.c18aa","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1400,"wires":[]},{"id":"47882e3c.4ec4d","type":"ui_chart","z":"c49b24ae.666138","name":"","group":"7d696fe4.97f26","order":0,"width":0,"height":0,"label":"Temperatura nevera","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperatura nevera","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":1440,"wires":[[]]},{"id":"d296ecc5.2ccad","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_ambient')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1480,"wires":[["7d18ed98.e0f274","6de503c.7dadcfc","2073d801.69fdf8"]]},{"id":"7d18ed98.e0f274","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_ambient","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":640,"y":1480,"wires":[]},{"id":"6de503c.7dadcfc","type":"ui_chart","z":"c49b24ae.666138","name":"","group":"7d696fe4.97f26","order":1,"width":0,"height":0,"label":"Temperatura ambient","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":1540,"wires":[[]]},{"id":"2073d801.69fdf8","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1580,"wires":[]},{"id":"18e20c6f.ffdca4","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/magatzem2/up","qos":"2","datatype":"auto","broker":"7667290d.1f1b98","nl":false,"rap":true,"rh":0,"x":260,"y":380,"wires":[["b5d64327.a2fc6"]]},{"id":"b5d64327.a2fc6","type":"json","z":"c49b24ae.666138","name":"","property":"payload","action":"","pretty":false,"x":550,"y":380,"wires":[["2d4043ce.a8be9c","15e0ad98.d883b2"]]},{"id":"2d4043ce.a8be9c","type":"function","z":"c49b24ae.666138","name":"Temp / humitat magatzem2","func":"var a = msg.payload;\nmsg.payload=a.uplink_message.decoded_payload.temperature;\nmsg.topic=a.uplink_message.decoded_payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["80b08488.4897a8","1455101e.45f4e"]]},{"id":"15e0ad98.d883b2","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"80b08488.4897a8","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":380,"wires":[]},{"id":"c11a93eb.f5437","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/magatzem1/up","qos":"2","datatype":"auto","broker":"7667290d.1f1b98","nl":false,"rap":true,"rh":0,"x":260,"y":600,"wires":[["a2ffadec.9283b"]]},{"id":"a2ffadec.9283b","type":"json","z":"c49b24ae.666138","name":"","property":"payload","action":"","pretty":false,"x":605,"y":592,"wires":[["bef523ba.6163a","6c38d6e0.f87458"]]},{"id":"bef523ba.6163a","type":"function","z":"c49b24ae.666138","name":"Temp humitat magatzem1","func":"var a = msg.payload;\nmsg.payload=a.uplink_message.decoded_payload.temperature;\nmsg.topic=a.uplink_message.decoded_payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":825,"y":592,"wires":[["221835e2.893b4a","aaa01082.b6901"]]},{"id":"6c38d6e0.f87458","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":640,"wires":[]},{"id":"221835e2.893b4a","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1065,"y":592,"wires":[]},{"id":"96d7060.de790f8","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/laboratori/up","qos":"2","datatype":"auto","broker":"7667290d.1f1b98","nl":false,"rap":true,"rh":0,"x":250,"y":820,"wires":[["5b2d0406.b8d7ac"]]},{"id":"5b2d0406.b8d7ac","type":"json","z":"c49b24ae.666138","name":"","property":"payload","action":"","pretty":false,"x":610,"y":809,"wires":[["c8bd5736.315758","bf3b0a59.96e618"]]},{"id":"c8bd5736.315758","type":"function","z":"c49b24ae.666138","name":"Temp humitat laboratori","func":"var a = msg.payload;\nmsg.payload=a.uplink_message.decoded_payload.temperature;\nmsg.topic=a.uplink_message.decoded_payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":809,"wires":[["fd363d15.6380e","625c451b.621cfc"]]},{"id":"bf3b0a59.96e618","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":860,"wires":[]},{"id":"fd363d15.6380e","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":809,"wires":[]},{"id":"5f57d353.be8adc","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/calaixera/up","qos":"2","datatype":"auto","broker":"7667290d.1f1b98","nl":false,"rap":true,"rh":0,"x":250,"y":1060,"wires":[["189a02e6.6513bd"]]},{"id":"189a02e6.6513bd","type":"json","z":"c49b24ae.666138","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1049,"wires":[["49b0001d.b2349","e692516f.8a63d"]]},{"id":"49b0001d.b2349","type":"function","z":"c49b24ae.666138","name":"Temp humitat calaixera","func":"var a = msg.payload;\nmsg.payload=a.uplink_message.decoded_payload.temperature;\nmsg.topic=a.uplink_message.decoded_payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1049,"wires":[["1c3bf367.17af7d","3c55b011.a94a2"]]},{"id":"e692516f.8a63d","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":1140,"wires":[]},{"id":"1c3bf367.17af7d","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1049,"wires":[]},{"id":"1455101e.45f4e","type":"function","z":"c49b24ae.666138","name":"fora º i %","func":"const s = msg.payload;\nconst h = msg.topic;\nconst withoutLastChunk = s.slice(0, s.lastIndexOf(\"°\"));\nconst hwithoutLastChunk = h.slice(0, h.lastIndexOf(\"%\"));\nmsg.payload=withoutLastChunk*1.00\nmsg.topic=hwithoutLastChunk*1.00\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":420,"wires":[["79532984.b62228","f0c32121.b572e","a4a6da4.367f028"]]},{"id":"79532984.b62228","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":420,"wires":[]},{"id":"aaa01082.b6901","type":"function","z":"c49b24ae.666138","name":"fora º i %","func":"const s = msg.payload;\nconst h = msg.topic;\nconst withoutLastChunk = s.slice(0, s.lastIndexOf(\"°\"));\nconst hwithoutLastChunk = h.slice(0, h.lastIndexOf(\"%\"));\nmsg.payload=withoutLastChunk*1.00\nmsg.topic=hwithoutLastChunk*1.00\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":975,"y":652,"wires":[["459e1eb5.cff43","9ca0e8e9.edbfa8","dc29d721.7b1648"]]},{"id":"459e1eb5.cff43","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1155,"y":652,"wires":[]},{"id":"625c451b.621cfc","type":"function","z":"c49b24ae.666138","name":"fora º i %","func":"const s = msg.payload;\nconst h = msg.topic;\nconst withoutLastChunk = s.slice(0, s.lastIndexOf(\"°\"));\nconst hwithoutLastChunk = h.slice(0, h.lastIndexOf(\"%\"));\nmsg.payload=withoutLastChunk*1.00\nmsg.topic=hwithoutLastChunk*1.00\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":849,"wires":[["567b20e4.1c564","f97aa05e.a9d11","16d3b96b.66cfb7"]]},{"id":"567b20e4.1c564","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":849,"wires":[]},{"id":"3c55b011.a94a2","type":"function","z":"c49b24ae.666138","name":"fora º i %","func":"const s = msg.payload;\nconst h = msg.topic;\nconst withoutLastChunk = s.slice(0, s.lastIndexOf(\"°\"));\nconst hwithoutLastChunk = h.slice(0, h.lastIndexOf(\"%\"));\nmsg.payload=withoutLastChunk*1.00\nmsg.topic=hwithoutLastChunk*1.00\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1100,"wires":[["49e34e48.51f4","c7892b0f.4c09c8","604eb1d.e5d0b5"]]},{"id":"49e34e48.51f4","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":1100,"wires":[]},{"id":"f0c32121.b572e","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_magatzem2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"humitat_magatzem2","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":460,"wires":[[]]},{"id":"9ca0e8e9.edbfa8","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_magatzem1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"humitat_magatzem1","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1185,"y":692,"wires":[[]]},{"id":"f97aa05e.a9d11","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_laboratori","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"humitat_laboratori","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":889,"wires":[[]]},{"id":"c7892b0f.4c09c8","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_calaixera","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"humitat_calaixera","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1140,"wires":[[]]},{"id":"a4a6da4.367f028","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_magatzem2 =msg.payload;\nvar humitat_magatzem2=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_magatzem2:temperatura_magatzem2,\nhumitat_magatzem2:humitat_magatzem2\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["f972a546.bf22c8","796326f1.dd3078"]]},{"id":"f972a546.bf22c8","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"dc29d721.7b1648","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_magatzem1 =msg.payload;\nvar humitat_magatzem1=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_magatzem1:temperatura_magatzem1,\nhumitat_magatzem1:humitat_magatzem1\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":740,"wires":[["7ffad354.737e8c","9a766f86.ae6da"]]},{"id":"7ffad354.737e8c","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":760,"wires":[]},{"id":"16d3b96b.66cfb7","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_laboratori =msg.payload;\nvar humitat_laboratori=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_laboratori:temperatura_laboratori,\nhumitat_laboratori:humitat_laboratori\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":960,"wires":[["c548542e.7d8038","fbc37831.b0be58"]]},{"id":"c548542e.7d8038","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":980,"wires":[]},{"id":"604eb1d.e5d0b5","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_calaixera =msg.payload;\nvar humitat_calaixera=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_calaixera:temperatura_calaixera,\nhumitat_calaixera:humitat_calaixera\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1220,"wires":[["e7e01c85.29e85","49a3ee50.e3ee1"]]},{"id":"e7e01c85.29e85","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":1260,"wires":[]},{"id":"796326f1.dd3078","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":750,"y":500,"wires":[]},{"id":"9a766f86.ae6da","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":770,"y":720,"wires":[]},{"id":"fbc37831.b0be58","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":770,"y":940,"wires":[]},{"id":"49a3ee50.e3ee1","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":792,"y":1203,"wires":[]},{"id":"89317181.31df4","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_magatzem1')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1640,"wires":[["dae8459.b52b9b8","34eea761.ad3338"]]},{"id":"dae8459.b52b9b8","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_magatzem1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":600,"y":1640,"wires":[]},{"id":"34eea761.ad3338","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":1700,"wires":[]},{"id":"7d41f1e3.f185a","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_magatzem2')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1760,"wires":[["9befeae7.b0f208","57f51b63.5ef104"]]},{"id":"9befeae7.b0f208","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_magatzem2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":600,"y":1760,"wires":[]},{"id":"57f51b63.5ef104","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":1820,"wires":[]},{"id":"bc01a3b1.cedc","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_laboratori')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1880,"wires":[["67a051f3.6573a","d8801006.6a9f"]]},{"id":"67a051f3.6573a","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_laboratori","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":590,"y":1880,"wires":[]},{"id":"d8801006.6a9f","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":1940,"wires":[]},{"id":"2685b6e8.d3a6ea","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_calaixera')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2000,"wires":[["8f77f974.f9b688","2503b71a.be54e8"]]},{"id":"8f77f974.f9b688","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_calaixera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":610,"y":2000,"wires":[]},{"id":"2503b71a.be54e8","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":2060,"wires":[]},{"id":"7b92af62.9ebcf","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('humitat_calaixera')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2120,"wires":[["8de98808.127d68","717e670e.98f878"]]},{"id":"8de98808.127d68","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"humitat_calaixera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":600,"y":2120,"wires":[]},{"id":"717e670e.98f878","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":2180,"wires":[]},{"id":"6e56c7ef.3f7d88","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('humitat_laboratori')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2240,"wires":[["f39b61ab.f0fa3","511dc39a.4f383c"]]},{"id":"f39b61ab.f0fa3","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"humitat_laboratori","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":600,"y":2240,"wires":[]},{"id":"511dc39a.4f383c","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":2300,"wires":[]},{"id":"cc81e80.fe39018","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('humitat_magatzem1')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2360,"wires":[["b96629f6.1f5e88","1e5be958.ccadc7"]]},{"id":"b96629f6.1f5e88","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"humitat_magatzem1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":610,"y":2360,"wires":[]},{"id":"1e5be958.ccadc7","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":2420,"wires":[]},{"id":"de50269d.450a78","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('humitat_magatzem2')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2500,"wires":[["3c6ef18d.b73d4e","71220326.c8283c"]]},{"id":"3c6ef18d.b73d4e","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"humitat_magatzem2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":610,"y":2500,"wires":[]},{"id":"71220326.c8283c","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":2560,"wires":[]},{"id":"35e106b8.ebea2a","type":"mqtt-broker","z":"c49b24ae.666138","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"89bc70c7.ee2ed","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"FARMACIA","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"d29593f6.c09808","type":"mqtt-broker","z":"c49b24ae.666138","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7d696fe4.97f26","type":"ui_group","name":"Temperatura nevera","tab":"f9d5b41.0d9e548","order":1,"disp":true,"width":"6","collapse":false},{"id":"7667290d.1f1b98","type":"mqtt-broker","z":"c49b24ae.666138","name":"rak","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9d5b41.0d9e548","type":"ui_tab","z":"c49b24ae.666138","name":"FARMACIA","icon":"dashboard","disabled":false,"hidden":false}]