node-red flow dragino LHT65 to influxDB cloud.txt
[{"id":"337d18c.94ad4e8","type":"mqtt in","z":"c49b24ae.666138","name":"","topic":"v3/farmacia-anna-florensa@ttn/devices/nevera/up","qos":"2","datatype":"auto","broker":"35e106b8.ebea2a","nl":false,"rap":true,"rh":0,"x":240,"y":80,"wires":[["508c988f.d5cd38","199ac2e6.73801d"]]},{"id":"508c988f.d5cd38","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"199ac2e6.73801d","type":"function","z":"c49b24ae.666138","name":"","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":140,"wires":[["d41fe762.6f5dc8"]]},{"id":"d41fe762.6f5dc8","type":"function","z":"c49b24ae.666138","name":"Temperatura nevera i ambient","func":"var a = msg.payload;\nmsg.payload=a.TempC_DS*1.00;\nmsg.topic=a.TempC_SHT*1.00;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["45c30c79.6950a4","4466c20f.43017c","25f6589a.2531a8"]]},{"id":"45c30c79.6950a4","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"25f6589a.2531a8","type":"function","z":"c49b24ae.666138","name":"data in JSON pairs","func":"\nvar temperatura_nevera =msg.payload;\nvar temperatura_ambient=msg.topic;\n\n//etc...\nreturn {payload:{temperatura_nevera:temperatura_nevera,\ntemperatura_ambient:temperatura_ambient\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":260,"wires":[["505f4f7a.181da","312e8d42.4eb8d2"]]},{"id":"505f4f7a.181da","type":"influxdb out","z":"c49b24ae.666138","influxdb":"89bc70c7.ee2ed","name":"","measurement":"farmacia","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"b27b02d56b791193","bucket":"FARMACIA","x":770,"y":260,"wires":[]},{"id":"312e8d42.4eb8d2","type":"debug","z":"c49b24ae.666138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"4428e356.931a1c","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.32","payloadType":"num","x":110,"y":260,"wires":[["25f6589a.2531a8"]]},{"id":"4466c20f.43017c","type":"change","z":"c49b24ae.666138","name":"","rules":[{"t":"set","p":"temperatura_nevera","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"temperatura_ambient","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[[]]},{"id":"bb188a06.7410f8","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["b850d214.41878","d296ecc5.2ccad"]]},{"id":"b850d214.41878","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_nevera')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["21969131.40d72e","c9243fa9.c18aa","47882e3c.4ec4d"]]},{"id":"21969131.40d72e","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_nevera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":590,"y":340,"wires":[]},{"id":"95c72d45.4ded","type":"inject","z":"c49b24ae.666138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.93","payloadType":"num","x":350,"y":200,"wires":[["4466c20f.43017c"]]},{"id":"c9243fa9.c18aa","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":400,"wires":[]},{"id":"47882e3c.4ec4d","type":"ui_chart","z":"c49b24ae.666138","name":"","group":"7d696fe4.97f26","order":0,"width":0,"height":0,"label":"Temperatura nevera","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperatura nevera","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":440,"wires":[[]]},{"id":"d296ecc5.2ccad","type":"function","z":"c49b24ae.666138","name":"","func":"msg.payload = flow.get('temperatura_ambient')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["7d18ed98.e0f274","6de503c.7dadcfc","2073d801.69fdf8"]]},{"id":"7d18ed98.e0f274","type":"mqtt out","z":"c49b24ae.666138","name":"","topic":"temperatura_ambient","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":600,"y":480,"wires":[]},{"id":"6de503c.7dadcfc","type":"ui_chart","z":"c49b24ae.666138","name":"","group":"7d696fe4.97f26","order":1,"width":0,"height":0,"label":"Temperatura ambient","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":540,"wires":[[]]},{"id":"2073d801.69fdf8","type":"debug","z":"c49b24ae.666138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"35e106b8.ebea2a","type":"mqtt-broker","z":"c49b24ae.666138","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"89bc70c7.ee2ed","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"FARMACIA","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"d29593f6.c09808","type":"mqtt-broker","z":"c49b24ae.666138","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7d696fe4.97f26","type":"ui_group","name":"Temperatura nevera","tab":"f9d5b41.0d9e548","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9d5b41.0d9e548","type":"ui_tab","z":"c49b24ae.666138","name":"FARMACIA","icon":"dashboard","disabled":false,"hidden":false}]
